<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head', { title, extraCss: typeof extraCss !== 'undefined' ? extraCss : undefined }) %>
</head>
<body>

<div class="shell">
  <%- include('partials/sidebar', { user, activeNav, regBadge: typeof regBadge !== 'undefined' ? regBadge : 0, alertasBadge: typeof alertasBadge !== 'undefined' ? alertasBadge : 0 }) %>

  <div class="main">
    <%- include('partials/topbar', { title, topbarActions: typeof topbarActions !== 'undefined' ? topbarActions : '' }) %>

    <div class="content">
      <%- include('pages/' + page, locals) %>
    </div>
  </div>
</div>

<%- include('partials/footer', { extraJs: typeof extraJs !== 'undefined' ? extraJs : undefined }) %>

</body>
</html>
